@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

img {
    width: 100%;
    margin-left: 0;
    align-self: auto;
    border: 1px solid black;
}


body {
    background-color: #FDF0D5;
    margin: 0;
    line-height: 1.5;
    font-size: 1.25rem;
    color: #3A3335;
}

code {
    font-size: 1.25rem;
}

.title {
    background: #D81E5B;
    color: #fff;
    width: auto;
    margin: 0;
    padding: 1vh 1vw;
    outline: 1vw solid #D81E5B;
}

#content {
    background: #C6D8D3;
    padding-left: 1vw;
    padding-right: 1vw;
    margin-left: 15%;
    margin-right: 15%;
}
    
}

a.xref {
    text-decoration: underline;
    color: black;
}

p {
    margin-top: 0;
    padding-top: 2vh;
    padding-bottom: 2vh;
    padding-left: 1vw;
    padding-right: 1vw;
    text-align: justify;
}

h2 {
    padding-top: 1vh;
    margin-bottom: 1vh;
}

nav {
    background-color: #FDF0D5;
    overflow: hidden;
    z-index: 999;
    position: sticky;
}

nav a {
    display: block;
    color: #222;
    background-color: #FDF0D5;
    text-align: center;
    padding: 1rem;
    text-decoration: none;
    font-size: 1.25rem;
}

nav a:hover {
    background-color: #C6D8D3;
    color: #222;
}

nav a:active {
    background-color: #EB5E55;
    color: #fff;
}

nav ul {
    list-style-type: none;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

nav li {
    float: left;
}
