@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

img {
    width: 100%;
    margin-left: 0;
    align-self: auto;
    border: 1px solid black;
}


body {
    background-color: #faf8d4;
    margin: 0;
    line-height: 1.5;
    font-size: 1.25rem;
    color: #222;
}

code {
    font-size: 1.25rem;
}

.title {
    background: #b2a3b5;
    color: #222;
    width: auto;
    margin: 0;
    padding-top: 1vh;
    outline: 2vw solid #b2a3b5;

}

#content {
    background: #ebdccb;
    margin-left: 15%;
    margin-right: 0;
    max-width: 85%;
    padding-left: 2vw;
    padding-right: 2vw;
}

a.xref {
    text-decoration: underline;
    color: black;
}

p {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 1vw;
    padding-right: 1vw;
    text-align: justify;
    text-align-last: left;
}

h2 {
    padding-top: 2vh;
    margin-top: 2vh;
    margin-left: 1vw;
    margin-right: 1vw;
    margin-bottom: 0;
}

h3 {
    margin: 1vh 1vw;
}

h4 {
    margin: 1vh 1vw;
}

.figure p {
    padding: 0;
}

ul.sidenav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 15%;
    background-color: #c3baaa;
    position: fixed;
    height: 100%;
    overflow: auto;
}

ul.sidenav li a {
    display: block;
    color: #222;
    padding: 8px 16px;
    text-decoration: none;
}

/* 
ul.sidenav li a.active { 
    background-color: #6B4E71;
    color: #fff;
} 
*/

ul.sidenav li a:hover:not(.active) {
    background-color: #91818a;
    color: #fff;
}

@media screen and (max-width: 900px) {
    ul.sidenav {
	width: 100%;
	height: auto;
	position: relative;
    }
    
    ul.sidenav li a {
	float: left;
	padding: 15px;
    }
    
    #content {
	background: #ebdccb;
	margin-left: 0;
	margin-right: 0;
	max-width: 100%;
	padding-left: 2vw;
	padding-right: 2vw;
    }
}

@media screen and (max-width: 400px) {
    ul.sidenav li a {
	text-align: center;
	float: none;
    }
}
